
<link rel="stylesheet" href="http://jqueryui.com/themes/base/jquery.ui.all.css" />
<link rel="stylesheet" href="http://code.shutterstock.com/rickshaw/src/css/graph.css" />
<link rel="stylesheet" href="http://code.shutterstock.com/rickshaw/src/css/detail.css" />
<link rel="stylesheet" href="http://code.shutterstock.com/rickshaw/src/css/legend.css" />
<link rel="stylesheet" href="http://code.shutterstock.com/rickshaw/examples/css/lines.css" />

<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.min.js"></script>

<div id="chart_container">
    <div id="chart"></div>
    <div id="legend_container">
        <div id="smoother" title="Smoothing"></div>
        <div id="legend"></div>
    </div>
    <div id="slider"></div>
</div>

