
<a href="http://opinsys.fi" target="_blank">
  <img src="/img/opinsys-logo-small.png">
</a>

<h1>Realtime Computer Usage</h1>

<p>
  Of {{poweredOnCount}} running machines there are {{loggedInCount}} in use.
</p>
