<h1>Desktop usage</h1>

<table>
  <tr>
    <th>Powered on</th>
    <th>Logged in</th>
  </tr>

  <tr>
    <td>{{poweredOnCount}}</td>
    <td>{{loggedInCount}}</td>
  </tr>
</table>

<pre>
{{json}}
</pre>
