
<h1>Laitteiden tila</h1>

<table>

<tr title="Käytössä olevien laitteiden määrä">
<td><img src="/img/logged-in-computer.png" class="title" /></td>
<td>{{loggedInCount}}</td>
</tr>

<tr title="Vapaana olevien laitteiden määrä">
<td><img src="/img/free-computer.png" class="title" /></td>
<td>{{freeCount}}</td>
</tr>

<tr title="Laitteita yhteensä">
<td>Yht.</td>
<td>{{poweredOnCount}}</td>
</tr>

</table>