
<h1>Laitteiden tila</h1>

<p>
  <div class="loggedIn">
    <span title="Käytössä olevien laitteiden määrä">
      <span>{{loggedInCount}}</span> <img src="/img/logged-in-computer.png" />
    </span>
  </div>
  <div class="poweredOn">
    <span title="Käynnissä olevien laitteiden määrä">
      <span>{{poweredOnCount}}</span> <img src="/img/power-on-computer.png" />
    </span>
  </div>
</p>

<p>
</p>