
@import url("/styles/vendor/animate.css")
@import "common.styl"

html
  overflow hidden

body
  background-color transparent
  text-align center

.logo
  display block
  text-decoration none
  img
    vertical-align middle

.bb-iframe-info
  border 1px solid black
  padding 1em
  position absolute
  bottom 0px
  right 2px
  width 350px
  color darken(text_color, 20)
  background-color #e7e4d0

  input
    width 100%
  box-shadow 0px 0px 50px #e7e4d0


.bb-summary-view
  text-align center
  margin 10px
  color darken(text_color, 20)

  h1
    font-size 14pt

